.colgate{
background-color: black;
height: 100vh;
}
.formcover{
  background-color: black;
height: 100vh;
}
.banner{
  width: 100%;
}
.colgates{
  width: 100%;
  height: 58vh;
}
.experience{
  position: absolute;
  margin: -15px;
  bottom: 32px;
  background: #028080;
  border-radius: 42.5px 0px 42.5px 42.5px;
  width: 304px;
  height: 71px;
  font-family: 'Colgate Ready BETA5';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.startExp{
  position: relative;
  /* top: 60px; */
  
}
.startExperience{
  background: #028080;
    border-radius: 42.5px 0px 42.5px 42.5px;
    width: 304px;
    height: 55px;
    font-family: 'Colgate Ready BETA5';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase; 
    color: #FFFFFF;
    
}
.colbanner{
  height: 56vh;
  width: 100%;
  position: absolute;
  top: 20%;
}
.backgroundpopup{
  background: #000000;
  height: 86vh;
  border: 2px solid #FFFFFF;
  border-radius: 42.5px 0px 42.5px 42.5px;
}
.popupcamera{
  position: absolute;
  right: 27%;
  top: 5%;
}
.pack{
  position: absolute;
  bottom: 33%;
  left: 18%;
  
}
.next{
  background: #028080;
border-radius: 42.5px 0px 42.5px 42.5px;
width: 139px;
height: 82px;
position: absolute;
bottom: 0;
right: 32%;
top: 80%;
font-family: 'Colgate Ready BETA5';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 26px;
text-transform: uppercase;

color: #FFFFFF;
}
.btn-close{
  filter: invert(1);
  --bs-btn-close-opacity: opacity(1);

}
.experienceTested{
  position: absolute;
  bottom: 22px;
  z-index: 2;
  width: 75%;
  background: #028080;
  font-family: 'Colgate Ready BETA5';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  
  height: 82px;
  border-radius: 42.5px 0px 42.5px 42.5px;
  right: 13%;
}
.experienceTest{
  position: absolute;
  bottom: 22px;
  z-index: 2;
  width: 75%;
  background: #028080;
  font-family: 'Colgate Ready BETA5';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 194px;
  height: 82px;
  border-radius: 42.5px 0px 42.5px 42.5px;
  right: 27%;
}
.outerImage{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/images/smileadd.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.formouter{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/images/formbackground.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* .carousel-inner{
  width: 38%;
    overflow: hidden;
    bottom: -246px;
    right: -127px;
} */
.banners{
  position :absolute;
        top: 0px;
        z-index: 2;
        width: 100%;
}
.ometer{
  font-family: 'Colgate Ready BETA5';
font-style: italic;
font-weight: 700;
font-size: 23px;
line-height: 150%;
/* or 34px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
position: relative;
bottom: -241px;
}
.smiley{
  position: absolute;
  z-index: 2;
  width: 75%;
  top: 150px;
  left: 39px;
}
.enterDetails{
  font-family: 'Colgate Ready BETA5';
font-style: normal;
font-weight: 900;
font-size: 28px;
line-height: 37px;
/* identical to box height */
text-transform: uppercase;
text-align: center;

color: #FFFFFF;
}
.inputFormsBorderradius{
  border: 1px solid #CDCDCD;
  border-radius: 50px;
  width: 319px;
  height: 45px;
  background-color: rgba(0,0,0,0);
}
.form-check-label{
  font-size: 10px;
    color: white;
}
@media screen and (min-width: 415px) {
  #mobilebiewonly {
    display: none;
  }
}
@media (min-width:414px) {
  .popupcamera{
    height: 40%;
    right: 22%;

  }
  .experience{
    right: 15%;
  }
}
@media (min-width:390px) {
  .popupcamera{
    height: 38%;
    right: 24%;
  }
}

@media (min-width:412px) {
    .experience{
      right: 13%;
    }
}
/* @media (min-width:360px) {

} */